html, body{
  height: 100%;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}
.opener-title {
  top: 30px;
  width: 600px;
  position: relative;
  margin: 0 auto;
  line-height: 1.5;
}
#opener-title {
  font-size: 38px;
  text-align: center;
  font-weight: 800;
}
#opener-subtitle {
  font-weight: 200;
  font-size: 18px;
  text-align: center;
}

.body-container-first {
  width: 600px;
  margin: 0 auto;
  position: relative;
  top: 80px;
  line-height: 1.6;
}
#prose-first-1 {
  position: relative;
  font-weight: 200;
  font-size: 16px;
  display: inline-block;
  text-align: left;
}
#prose-first-2 {
  position: relative;
  top: 40px;
  font-weight: 200;
  font-size: 16px;
  display: inline-block;
  text-align: left;
}
#prose-first-3 {
  position: relative;
  top: 80px;
  font-weight: 200;
  font-size: 16px;
  display: inline-block;
  text-align: left;
}

.body-container-rect {
  width: 800px;
  position: relative;
  top: 200px;
  margin: 0 auto;
}
#msnbc_rect {
  position: absolute;
  x: 30px;
  y: 50px;
  fill:rgb(232,164,51);
}
#cnn_rect {
  position: absolute;
  x: 290px;
  y: 50px;
  fill: rgb(212,89,84);
}
#fox_rect {
  position: absolute;
  x: 550px;
  y: 50px;
  fill: rgb(20,151,252);
}

.body-container-brandtext {
  position: absolute;
}
.brand-text {
  font-size: 16px;
  font-weight: 700;
}
#brand-text-msnbc {
  position: absolute;
  text-align: center;
  left: 30px;
  width: 220px;
}
#brand-text-cnn {
  position: absolute;
  text-align: center;
  left: 290px;
  width: 220px;
}
#brand-text-fox {
  position: absolute;
  text-align: center;
  left: 550px;
  width: 220px;
}

.chyron-text-first {
  font-size: 14px;
  font-weight: 600;
}
#chyron-text-msnbc {
  position: absolute;
  text-align: center;
  top: 70px;
  left: 30px;
  width: 220px;
}
#chyron-text-cnn {
  position: absolute;
  text-align: center;
  top: 70px;
  left: 290px;
  width: 220px;
}
#chyron-text-fox {
  position: absolute;
  text-align: center;
  top: 70px;
  left: 550px;
  width: 220px;
}
svg {
  padding: 5px;
}

#scroll {
  max-width: 850px;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  line-height: 1.4;
  top: 250px;
}
.scroll-graphic {
  position: absolute;
  top: 15px;
  left: 0;
  bottom: auto;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.scroll-graphic.is-fixed {
  position: fixed;
  left: 0px;
  top: 15px;
  margin: 0 auto;
}
.scroll-graphic.is-bottom {
  bottom: 0;
  top: auto;
}
.scroll-graphic .scroll-svg {
  position: absolute;
  right: 1rem;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.container {
  height: 100%;
  max-width: 50px;
  margin: 0;
  padding: 0;
  position: absolute;
  top:50px;
}

.container div {
  height: 100%;
  display: block;
}
#circle {
  width: 10px;
  height: 10px;
  border-radius: 25px;
  background: black;
}
.intro_text {
  font-weight: 200;
  font-size: 15px;
  text-anchor: start;
}
.count_text {
  text-anchor: middle;
  font-size: 22;
  font-weight: 700;
}
.chyron_text {
  text-anchor: middle;
  font-size: 14px;
  font-weight: 600;
}
.description {
  font-size: 11px;
}
.tool_chyrontext {
  font-weight: 400;
}
.axis path
.axis line {
  shape-rendering: crispEdges;
}
.axis text {
  font-family: Optima, Futura, sans-sans-serif;
  font-weight: bold;
  font-size: 10px;
}
.slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  height: 10px;
  width: 475px;
  background: rgb(173,173,173);
  opacity: 0.8;
  left: 120px;
  top: 120px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 53px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 53px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
