html, body{
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}


#intro {
  margin-bottom: 100px;
  background-color: #F7F7F7;
  height: 1050px;
}
.opener-title {
  top: 50px;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
  line-height: 1.5;
}
#opener-title {
  font-size: 45px;
  text-align: center;
  font-weight: 800;
}
#opener-subtitle {
  font-weight: 200;
  font-size: 18px;
  text-align: center;
}

.body-container-first {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  top: 80px;
  line-height: 1.6;
}
.intro-text {
  font-weight: 200;
  font-size: 16px;
  display: inline-block;
  text-align: left;
}

.body-container-rect {
  width: 800px;
  position: relative;
  top: 120px;
  margin: 0 auto;
}
#msnbc_rect {
  position: absolute;
  x: 30px;
  y: 50px;
  fill:rgb(232,164,51);
}
#cnn_rect {
  position: absolute;
  x: 290px;
  y: 50px;
  fill: rgb(212,89,84);
}
#fox_rect {
  position: absolute;
  x: 550px;
  y: 50px;
  fill: rgb(20,151,252);
}

.body-container-brandtext {
  position: relative;
}
.brand-text {
  font-size: 16px;
  font-weight: 700;
}
#brand-text-msnbc {
  position: absolute;
  text-align: center;
  left: 30px;
  width: 220px;
}
#brand-text-cnn {
  position: absolute;
  text-align: center;
  left: 290px;
  width: 220px;
}
#brand-text-fox {
  position: absolute;
  text-align: center;
  left: 550px;
  width: 220px;
}

.chyron-text-first {
  position: relative;
  font-size: 14px;
  font-weight: 600;
}
#chyron-text-msnbc {
  position: absolute;
  text-align: center;
  top: 70px;
  left: 30px;
  width: 220px;
}
#chyron-text-cnn {
  position: absolute;
  text-align: center;
  top: 70px;
  left: 290px;
  width: 220px;
}
#chyron-text-fox {
  position: absolute;
  text-align: center;
  top: 70px;
  left: 550px;
  width: 220px;
}


.intro_text {
  font-weight: 200;
  font-size: 15px;
  text-anchor: start;
}
.count_text {
  text-anchor: middle;
  font-size: 22;
  font-weight: 700;
}
.chyron_text {
  text-anchor: middle;
  font-size: 14px;
  font-weight: 600;
}
.description {
  font-size: 11px;
}
.tool_chyrontext {
  font-weight: 400;
}



/* scrollama */
#scroll {
  max-width: 1000px;
  margin: auto;
}
.scroll__graphic {
  position: sticky;
  float: right;
  top: 20px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#scroll-svg {
  max-width: 1000px;
}
.scroll__text {
  position: relative;
  max-width: 30rem;
  width: 1%;
}
#circle {
  width: 10px;
  height: 10px;
  border-radius: 25px;
  background: black;
}
.step {
  margin: 0 auto 2rem auto;
}

#gray-wrapper {
  background-color: #F7F7F7;
  height: 1100px;
}
#screen9 {
  margin: 0 auto;
  position: relative;
  line-height: 1.6;
}
#screen10 {
  margin: 0 auto;
  position: relative;
  top: 75px;
  line-height: 1.6;
}
#chyron2-text-msnbc {
  position: absolute;
  text-align: center;
  top: 60px;
  left: 35px;
  width: 210px;
}
#chyron2-text-cnn {
  position: absolute;
  text-align: center;
  top: 60px;
  left: 295px;
  width: 210px;
}
#chyron2-text-fox {
  position: absolute;
  text-align: center;
  top: 60px;
  left: 555px;
  width: 210px;
}
#chyron3-text-msnbc {
  position: absolute;
  text-align: center;
  top: 50px;
  left: 35px;
  width: 205px;
  font-size: 12px;
  line-height: 1.4;
}
#chyron3-text-cnn {
  position: absolute;
  text-align: center;
  top: 60px;
  left: 295px;
  width: 210px;
}
#chyron3-text-fox {
  position: absolute;
  text-align: center;
  top: 52px;
  left: 555px;
  width: 210px;
}
#midscreens {
  position: relative;
  top: -50px;
}
#screen11 {
  margin: 0 auto;
  position: relative;
  line-height: 1.6;
  height: 750px;
}
#screen11-svg {
  max-width: 1000px;
}

#gray-wrapper2 {
  position: relative;
  background-color: #F7F7F7;
}
#outro {
  height: 800px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.container-svg {
  position: relative;
  width: 100%;
}
#tool-svg {
  position: relative;
  top: 420px;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  position: absolute;
  height: 10px;
  width: 475px;
  background: rgb(173,173,173);
  opacity: 0.8;
  left: 120px;
  top: 148px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 53px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
    width: 53px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}



#methods {
  margin: 0 auto;
  position: relative;
  max-width: 600px;
}
.methods-text {
  font-weight: 200;
  font-size: 11px;
  display: inline-block;
  text-align: left;
}
