html, body{
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  min-width: 340px;
}
@media screen and (min-width: 400px) {
  h1 {
    font-size: 45px;
    text-align: center;
    font-weight: 800;
  }
  h3 {
    font-weight: 100;
    font-size: 16px;
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
  }
  p {
    font-weight: 200;
    font-size: 14px;
    display: inline-block;
    text-align: left;
  }
  .chyronText {
    font-size: 14px;
    font-weight: 600;
    text-anchor: middle;
  }
  .brandText {
    font-size: 16px;
    font-weight: 700;
    text-anchor: middle;
  }
  .countText {
    text-anchor: middle;
    font-size: 16px;
    font-weight: 700;
  }
  .introText {
    font-weight: 200;
    font-size: 14px;
    fill: none;
  }
  .descriptionText {
    font-size: 11px;
  }
  .timelineTimeText {
    fill: gray;
    font-size: 12px;
  }
  .timelineText {
    text-anchor: middle;
    font-size: 12px;
  }
  .chyronTimeText {
    fill: black;
    font-size: 11px;
    text-anchor: end;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 25px;
    text-align: center;
    font-weight: 800;
  }
  h3 {
    font-weight: 100;
    font-size: 14px;
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
  }
  p {
    font-weight: 200;
    font-size: 12px;
    display: inline-block;
    text-align: left;
  }
  .chyronText {
    font-size: 13px;
    font-weight: 600;
    text-anchor: middle;
  }
  .brandText {
    font-size: 14px;
    font-weight: 700;
    text-anchor: middle;
  }
  .countText {
    text-anchor: middle;
    font-size: 14px;
    font-weight: 700;
  }
  .introText {
    font-weight: 200;
    font-size: 12px;
    fill: none;
  }
  .descriptionText {
    font-size: 10px;
  }
  .timelineTimeText {
    fill: gray;
    font-size: 10px;
  }
  .timelineText {
    text-anchor: middle;
    font-size: 10px;
  }
  .chyronTimeText {
    fill: black;
    font-size: 10px;
    text-anchor: end;
  }
}
#intro {
  margin: 0 auto;
  padding-bottom: 100px;
  background-color: #F7F7F7;
}
#container-title {
  max-width: 600px;
  position: relative;
  margin: 0 auto;
  line-height: 1.5;
  margin: 0 auto;
}
.container-text {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  line-height: 1.6;
}
#container-intro-text {
  margin-top: 30px;
}
#svg-chyron1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
#disclaimer {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
}
#disclaimer-text {
  font-size: 10px;
  font-weight: 200;
  text-align: left;
}




.descriptionLine {
  stroke-width: 1;
}

/* scrollama */
#scroll {
  margin: auto;
  margin-top: 30px;
}
.scroll__graphic {
  position: sticky;
  float: right;
  width: 93%;
  top: 20px;
}
.scroll__text {
  position: relative;
  max-width: 30rem;
  width: 1%;
}
.grid_rect {
  cursor: pointer;
}
#circle {
  width: 10px;
  height: 10px;
  border-radius: 25px;
  background: black;
}
.step {
  margin: 0 auto 2rem auto;
}

#gray-wrapper {
  position: relative;
  background-color: #F7F7F7;
}
#screen9 {
  line-height: 1.6;
}
#svg-chyron2 {
  margin-top: 20px;
}
#screen10 {
  line-height: 1.6;
  padding-bottom: 10px;
}
#svg-chyron3 {
  margin-top: 20px;
}
#screen11 {
  line-height: 1.6;
  margin-top: 20px;
}
#svg-screen11 {
  margin-top: 30px;
}
.grid_circle {
  cursor: pointer;
}




#gray-wrapper2 {
  position: relative;
  background-color: #F7F7F7;
}
#outro {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}
.container-svg-tool {
  position: relative;
  width: 100%;
}
#svg-tool {
  position: relative;
}
.timelineRect {
  fill: orange;
  opacity: 0.3;
  stroke: none;
}
.timeLine {
  stroke-width: 13px;
  opacity: 0.3;
  stroke: gray;
}
.slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  position: absolute;
  height: 10px;
  background: rgb(173,173,173);
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 11.1%; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
    width: 53px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
#methods {
  margin: 0 auto;
  position: relative;
  max-width: 600px;
  margin-bottom: 100px;
}
.methods-text {
  font-size: 11px;
}
